html, body {
    padding:0%;
    margin: 0%;
    font-family: Cambria, serif;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(28, 37, 65);
    color: rgb(183, 206, 206) ;
    padding: 1em;
}

header h1 {
    text-align: center;
}


header ul {
    list-style: none;
    display: flex;
    margin:2em;
    padding: 0%;
    justify-content: center;
    gap: 5%
}

header a {
    color: rgb(183, 206, 206);
    font-weight:800;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    margin:0;
    background-color: rgb(226, 226, 226);
    padding: 2em;
    color: rgb(28, 37, 65);
    flex:1;
}

.galerie{
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

.galerie img{
    height: 300px;  
    transition: transform 0.2s ease-in-out;
}

.galerie img:hover{
    transform: scale(1.05);
}

footer{
    margin: 0;
    padding: 1em;
    background-color: rgb(110, 126, 133);
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: rgb(226, 226, 226);
}

.footer-left{
    margin-left: 1em;
    display: flex;
    gap: 3em;  
}

.footer-left a {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

.footer-left a:hover{
    color: rgb(110, 126, 133);
    transition-duration: 0.5s;
}

.footer-right{
    margin-right: 1em;
}